

.hfpl_wrap .label
{
width: 12em;
float: left;
text-align: left;
margin-right: 0.5em;
display: block
}

.hfpl_wrap select, .hfpl_wrap input
{
width: 150px;
}

.hfpl_red
{
color: red;
}

